body{
  font-size:1em;
  font-weight: normal;
  font-family: Arial, sans-serif;
  color: #33C4FF; /*black*/
  text-align:left;
  background-color: #5D5C55;
}
h1{
  font size: 1.8em;
  font-weight: bold;
  color: #33C4FF;/*black*/
  text-align: center;
}
h2
{

p}
