.quote1 {
  font-family: "Helvetica";
  font-size: 1em;
  background-image: url("../images/23 soccer.jpg");
  border: solid 1px black;
  height: 300px;
  width: 800px;
  margin: 0 auto;
  margin-bottom: 100px;
  padding-top: 50px;
}

.text {
  width: 300px;
}
.quote2{
font-family: "Helvetica";
font-size: 1em;
background-image: url("../images/10 r.jpg");
border: solid 1px black;
height: 300px;
width: 800px;
margin: 0 auto;
margin-bottom: 100px;
padding-top: 50px;
color: white
}

.text {
  width: 300px;
}
